body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #242424;
    font-size: 18;
  }
  
  h1 {
    color: #ffffff;
    text-align: center;
  }
  
  .command {
    font-size: large;
    font-weight: bold;
    color: #3f6464;
  }
  
  .description {
    color: #ffffff;
    margin-left: 20px;
  }
  
  .comment {
    color: #5d7de4; /* Verde claro para os comentários */
    font-style: italic;
    margin-left: 20px;
  }
  
  .category {
    font-size: 1.2em;
    color: #f3c8be;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  pre {
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 5px;
    
    overflow-x: auto;
  }
  